<article>
  <div class="story-header">
    <%= image_tag 'soccer.png', style: "height: 100vh;"%>
    <div class="overlay"></div>
  </div>
  <div class="story-title">
    The greatest Player ever
  </div>
</article>
