// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Roboto, sans-serif
$primary-color: #D72383

body
  font: 100% $font-stack
  color: $primary-color
