// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*the navbar icon*/
.navbar{
	background: #d72383;
	width: 100%;
	text-decoration-line: none;

}
.warpper{
	background: url('soccer.png');
	background-position: center;
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;

}
#sportat{
	font-size: 5em;
	color: white;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
#sportat p{
	margin-top: 90em;

}
.navbar-header{
	float: left;
}