<!DOCTYPE html>
<html>
  <head>
  <!-- Compiled and minified CSS -->
  
          
    <title>NewsHound</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar">
   
      <ul>
      <li> 
        <a href="static/sport"> Sport News</a> 
      </li>
      <li> 
        <a href="sport"> Sport News</a> 
      </li>
      <li> 
        <a href="sport"> Sport News</a>
       </li>
    </ul>
 
  </nav>


  <body>
    <%= yield %>
  </body>
</html>
